@import "../../variables.scss";

.HeaderItem {
    display: inline-block;
    line-height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    color: $light-grey;

    &--highlight,
    &:hover {
        color: #fff;
    }

    @media (max-width: $screen-small) {
        font-size: 12px;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 60px;
    }
}
